.pagination {
    list-style:none;
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 12px;
    gap:5px;
    padding-top: 20px;
    margin-left:auto;
}
.pagination .page-num {
    border: 1px solid #D7DFE9;
    padding: 2px 8px;
    color:#7E858E;
    cursor:pointer;
    text-decoration: none;
    border-radius: 3px;
}

.pagination .active {
    border: 2px solid #171F46;
    color:#171F46;
}

.previous-page {
    border: 1px solid #D7DFE9;
    height: 50px;
    padding: 2px 8px;
    color:#171F46;
    cursor:pointer;
    text-decoration: none;
}
