.create {
    max-width: 500px;
    padding-left: 35%;
    text-align: center;
  }
  .create h2 {
    font-size: 25px;
    color:#171F46;
    margin-bottom: 20px;
  }
  .create input, .create textarea, .create select {
    width: 100%;
    padding: 6px 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
  }
  .create button {
    background: #0B69FF;
    color: #fff;
    border: 0;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
  }

  .create div{
    font-size: 10px;
  }