* {
  margin: 0;
}
.content {
  --adoWhite: #F5F5F5;
  background-color: var(--adoWhite);
  padding-left: 120px;  
}
.header {
  display: flex;
  border-bottom: 1px solid lightgray;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.avatar {
  margin-left: auto;
  border-radius: 50%;
}